.container-main {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* left sidebar starts from here */
.left-sidebar {
  height: 100vh;
  background-color: aliceblue;
  width: 20vw;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.left-sidebar .logo {
  background-image: url(./assets/Img/logo.png);
  width: 40%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 10%;
}

.left-sidebar .nav-links {
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.left-sidebar .nav-links a {
  font-size: 22px;
  text-decoration: none;
  padding: 12px 42px;
  border-radius: 12px;
  color: #010203;
  transition: all 0.5s ease-in-out;

}

.nav-links a:hover {
  background-color: #000000;
  color: aliceblue;
}

.left-sidebar .more {
  position: absolute;
  bottom: 20px;
}

.left-sidebar .more button {
  background-color: #000000;
  padding: 12px 40px;
  color: #fff;
  cursor: pointer;
  border-radius: 22px;
}

.left-sidebar .more a {
  font-size: 22px;
  text-decoration: none;
  padding: 12px 42px;
  border-radius: 12px;
  color: #010203;
}

.left-sidebar .more a:hover {
  background-color: #000000;
  color: aliceblue;
}


.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 60px;
  left: -60px;
  background: #cabebe;
  width: 22vw;
  gap: 12px;
  border-radius: 12px;

}

.dropdown-content::before {
  content: "";
  background-color: #cabebe;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 40%;
  bottom: -10px;
  rotate: 45deg;
  z-index: -1;
}

.dropdown-content a {
  margin: 12px;
  transition: all 0.5s ease-in-out;
}

.dropdown-content hr {
  width: 100%;
  height: 2px;
  background-color: black;
  border: black;
}

/* main content starts from here */
.main-home-container {
  position: absolute;
  left: 20vw;
  width: 50vw;
  top: 0px;
  background-color: #ffffff;
  height: 100vh;
}



/* right sidebar starts from here */
.right-sidebar {
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: aliceblue;
  width: 30vw;
}

@media (max-width: 1000px) {
  .main-home-container{
    width: 80vw;
  }
  .right-sidebar {
    display: none;
  }
}

.profile-right-sidebar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.small-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.sidebar-container {
  margin-left: 12px;
  margin-right: 10vw;
  margin-top: 12px;
  height: 100vh;
}

.username {
  color: #000000;
}

.logo-right img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.username-right {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.username-right-text {
  font-size: larger;
  font-size: 22px;
}

.suggestion-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.suggestions-profile-user {
  margin-bottom: 20px;
  /* Adjust the value as needed */
}

.link-area {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  width: 10px;
  margin-top: 50px;
}

.link-area a {
  text-decoration: none;
  color: #cabebe;
}

.copyright p {
  color: #cabebe;
}